.auth-inner-page {
  .card-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .v-card {
    .v-card__title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  
    .v-card__actions {
      .card-actions {
        width: 100%;

        .separator {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
