.compose-page {
  height: 100%;
  width: 100%;

  .compose-wrap {
    height: 100%;
    width: 100%;
    position: relative;

    .message-container {
      position: absolute;
      bottom: 0px;
      width: 100%;

      .v-input {
        .v-input__slot {
          margin: 0px;
        }

        .v-text-field__details {
          display: none;
        }

        .v-input__append-inner {
          padding-left: 20px;
        }
      }
    }
  }
}