.friend-page {
  width: 100%;
  height: 100%;

  .status-container {}
  .friends-list-wrap {}

  .image-post-wrap {
    display: flex;
    justify-content: center;
  }

  .send-request-container {
    .v-input {
      .v-input__slot {
        margin: 0px;
        padding: 0px;
      }

      .v-text-field__details {
        display: none;
      }
    }
  }

  .username {
    color: #4f5660;
  }
}