.message-page {
  height: 100%;
  width: 100%;

  .messages-wrap {
    height: 100% !important;

    .message-card__text {
      overflow-y: scroll;
      height: 90%;
      max-height: 830px;
    }
  }

  .v-input {
    .v-input__slot {
      margin: 0px;
    }

    .v-text-field__details {
      display: none;
    }

    .v-input__append-inner {
      padding-left: 20px;
    }
  }
}
