.post-page {
  width: 100%;
  height: 100%;

  .send {
    .v-input__control {
      .v-input__slot {
        margin: 0;
      }

      .v-text-field__details {
        display: none;
      }
    }
  }

  // .message-wrap {
  //   border-top: solid #e0e0e0 1px;

  //   .message {
  //     display: flex !important;
  //     flex-direction: column;

  //     .message-content {
  //       flex-grow: 1;
  //       overflow: auto;
  //     }
  //   }
  // }

  .welcome-message {
    width: 100%;
    text-align: center; 
  }
}