.wrap-search {
  display: flex;
  max-width: 700px;

  .text-wrapper {
    .v-input__slot {
      margin-bottom: 0px;
    }

    .v-text-field__details {
      display: none;
    }
  }

  .refresh {
    min-width: 40px !important;
    width: 40px !important;
    margin-top: 1px !important;
  }

  // .filter-by,
  // .date-by {
  //   max-width: 150px;
  // }

  // .date-from,
  // .date-to,
  // .q {
  //   max-width: 200px;
  // }
}