<template>
  <div id="app">
    <!-- <template v-if="$route.matched.length">
      <router-view />
    </template> -->

    <!-- <template v-else>
      // header
      // sidebar
      // container
    </template> -->

    <div id="nav">
      <router-link to="/">
        Home
      </router-link>

      |

      <router-link to="/about">
        About
      </router-link>
    </div>

    <router-view />
  </div>
</template>

<script>
export default {
  name: 'App',

  components: {},

  data () {
    return {}
  },

  computed: {},

  created () {},

  mounted () {},

  methods: {}
}
</script>
