@import 'fonts';
@import 'variables';

@import 'component/@component';
@import 'page/@page';

html {
  overflow-y: auto !important;
}

::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #BDBDBD;
}

.mdi-fire {
  background: rgb(234,53,117);
  background: linear-gradient(45deg, rgba(234,53,117,1) 0%, rgba(252,177,89,1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}